version: "3.3"

services:

   zookeeper:
      image: wurstmeister/zookeeper
      container_name: zookeeper
      restart: always
      ports:
         - 2181:2181
      networks: 
         - walk2walk

   kafka:
      image: wurstmeister/kafka
      container_name: kafka
      restart: always
      ports:
         - 9092:9092
      environment:
         KAFKA_ADVERTISED_HOST_NAME: kafka
         KAFKA_ADVERTISED_PORT: 9092
         KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      depends_on:
         - zookeeper
      networks:
         - walk2walk

   spring:
      build:
         context: ./walk2walk-server
      ports:
         - 8080:8080
      networks:
         - walk2walk
      depends_on:
         - mongo
         - zookeeper
         - kafka

   mongo:
      image: mongo
      env_file:
         - .env
      environment:
         MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
         MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      restart: always
      ports:
         - 27017:27017
      volumes:
         - mongodbdata:/data/db
      networks:
         - walk2walk

networks:
   walk2walk:

volumes:
   mongodbdata:
