version: "3.1"

services:
   spring:
      build:
         context: ./walk2walk-server
      ports:
         - 8080:8080
      networks:
         - walk2walk
      depends_on:
         - mongo

   mongo:
      image: mongo
      env_file:
         - .env
      environment:
         MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
         MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      restart: always
      ports:
         - 27017:27017
      volumes:
         - mongodbdata:/data/db
      networks:
         - walk2walk

networks:
   walk2walk:

volumes:
   mongodbdata:
